.btn {
	padding: 13px;
	min-width: 136px;
    font-size: 18px;
    border: 1px solid transparent;
    cursor: pointer;
    @extend %Roboto-Medium, %transition;
    &.btn-primary {
        background-color: $black;
        border-color: $black;
        color: $white;
        &:hover {
            background-color: $white;
            color: $black;
        }
    }
}