.app-header {
    padding: 27px 0;
    border-bottom: 1px solid black;
}
.main-nav {
    li {
        margin-left: 60px;
        a {
            color: $color2;
            font-size: 18px;
            @extend %Sanfrancisco-SemiBold;
            cursor: pointer;
        }
    }
}
.brand-logo {
    width: 125px;
    img {
        width: 100%;
    }
}
// toast button
#logout_confirm button.rrt-button.rrt-ok-btn.toastr-control {
    background-color: rgb(53, 161, 53) !important ;
    font-weight: bolder;
    font-size: large;
    color: white !important;
}
#logout_confirm button.rrt-button.rrt-cancel-btn.toastr-control {
    background-color: rgb(184, 36, 25) !important ;
    font-weight: bolder;
    font-size: large;
    color: white !important;
}
// Menu Toogle
.toggle-menu {
    width: 30px;
    height: 13px;
    position: relative;
    display: block;
    .bar {
        width: 22.5px;
        height: 2px;
        display: block;
        border-radius: 3px;
        background-color: $black;
        position: absolute;
        right: 0;
        &.bar-top {
            top: 0px;
            -webkit-transform: translateY(-3px);
            transform: translateY(-3px);
            @include prefix(transform, translateY(-3px));
            @include prefix(transition, transform 0.1596s cubic-bezier(0.52, 0.16, 0.52, 0.84) 0.1008s);
        }
        &.bar-center {
            top: 8px;
            opacity: 1;
            @include prefix(transform, translateY(-3px));
            @extend %transition;
        }
        &.bar-bottom {
            bottom: 0px;
            @include prefix(transform, translateY(3px));
            @include prefix(transition, transform 0.1596s cubic-bezier(0.52, 0.16, 0.52, 0.84) 0.1008s);
        }
    }
    &.active {
        .bar {
            &.bar-top {
                top: 5px;
                @include prefix(transform, rotate(45deg));
                @include prefix(transition, transform 0.3192s cubic-bezier(0.04, 0.04, 0.12, 0.96) 0.1008s);
            }
            &.bar-center {
                opacity: 0;
                @include prefix(transition, transform 0.1596s cubic-bezier(0.52, 0.16, 0.52, 0.84) 0.1008s);
            }
            &.bar-bottom {
                bottom: 6px;
                @include prefix(transform, rotate(-45deg));
                @include prefix(transition, transform 0.3192s cubic-bezier(0.04, 0.04, 0.12, 0.96) 0.1008s);
            }
        }
    }
}

// Responsive
@include responsive(md) {
    .app-header {
        position: relative;
    }
    .main-nav {
        position: absolute;
        top: 100%;
        left: 0;
        z-index: 99;
        width: 100%;
        border-top: 1px solid $color3;
        display: none;
        &.open {
            display: block;
        }
        li {
            margin-left: 0;
            width: 100%;
            border-bottom: 1px solid $color3;
            &:last-child {
                border-bottom: 0;
            }
            a {
                display: block;
                font-size: 15px;
                background-color: $white;
                padding: 10px 20px;
            }
        }
    }
}
.active {
    color: rgb(28, 38, 134) !important;
}
