// IconGoogle
.IconGoogle1{fill:#FFC107;}
.IconGoogle2{fill:#FF3D00;}
.IconGoogle3{fill:#4CAF50;}
.IconGoogle4{fill:#1976D2;}

// IconFacebook
.IconFacebook1{fill:#1778F2;}

.icon {
    svg {
        width: 100%;
        height: 100%;
    }
}
.icon-18 {
    width: 18px;
    height: 18px;
}
.icon-21 {
    width: 21px;
    height: 21px;
}
.icon-100 {
    width: 100px;
    height: 100px;
}

// Responsive
@include responsive(md){
    .icon-100 {
        width: 82px;
        height: 82px;
    }
}