.progress, .progress-bar {
    display: flex;
    overflow: hidden;
}
.progress {
    height: 13px;
    line-height: 0;
    font-size: 0;
    background-color: #F0F0F0;
}
.progress-bar {
    flex-direction: column;
    justify-content: center;
    text-align: center;
    white-space: nowrap;
    transition: width .6s ease;
    @include linear-gradient(90deg,#5AD3A2, 1.48%,#0D9C64,98.79%);
}