// Color Variable
$white: #ffffff;
$black: #000000;

// Gray
$color1: #1d1d1d;
$color2: #141414;
$color3: #e0e0e0;
$color4: #fcfdfe;

$success: #0d9d64;
$danger: #e5664b;
$warning: #e5b64b;
$info: #448fb8;

// media quary
$lg: 1300px;
$md: 1200px;
$sm: 767px;
$xs: 575px;
